@model Planner.Models.Lembrete

@{
    ViewData["Title"] = "Deletar Lembrete";
}

<h1>Deletar Lembrete</h1>

<h3>Você tem certeza que deseja deletar este lembrete?</h3>
<div>
    <h4>@Model.Titulo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Descrição</dt>
        <dd class="col-sm-10">@Model.Descricao</dd>

        <dt class="col-sm-2">Tipo de Lembrete</dt>
        <dd class="col-sm-10">@Model.TipoLembrete</dd>

        <dt class="col-sm-2">Recorrente Semanal</dt>
        <dd class="col-sm-10">@Model.RecorrenteSemanal</dd>

        <dt class="col-sm-2">Data e Hora</dt>
        <dd class="col-sm-10">@Model.DataHora</dd>
    </dl>

    <form asp-action="Deletar" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Deletar</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
    </form>

</div>
