@model Planner.Models.Meta

@{
    ViewData["Title"] = "Detalhes da Meta";
}

<h1>Detalhes da Meta</h1>

<div>
    <h4>@Model.Titulo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Título</dt>
        <dd class="col-sm-9">@Model.Titulo</dd>

        <dt class="col-sm-3">Descrição</dt>
        <dd class="col-sm-9">@Model.Descricao</dd>

        <dt class="col-sm-3">Categoria</dt>
        <dd class="col-sm-9">@Model.CategoriaAtividade</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">@Model.StatusMeta</dd>

        <dt class="col-sm-3">Prazo</dt>
        <dd class="col-sm-9">@Model.Prazo.ToShortDateString()</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
