@model IEnumerable<Planner.Models.Meta>

@{
    ViewData["Title"] = "Lista de Metas";
}

<h1>Lista de Metas</h1>

<p>
    <a asp-action="Adicionar" class="btn btn-primary">Adicionar Nova Meta</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Categoria</th>
            <th>Status</th>
            <th>Prazo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var meta in Model)
        {
            <tr>
                <td>@meta.Titulo</td>
                <td>@meta.CategoriaAtividade</td>
                <td>@meta.StatusMeta</td>
                <td>@meta.Prazo.ToShortDateString()</td>
                <td>
                    <a asp-action="Detalhes" asp-route-id="@meta.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Editar" asp-route-id="@meta.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Deletar" asp-route-id="@meta.Id" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
